#interface{
display: flex;
width: 1200px;
margin-top: 60px;
justify-content: center;

}
#myCanvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAzmiFY2jdE6gSYoTE1xos39-pAxGMSx_PhZf4XOifOo84GETljA");
  background-size:cover 
  
 
}
#highscore {
  text-decoration-color: blue;
  text-align: center;
  font-size: 30px;
  
}
fieldset {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  margin-right: 55px;
  margin-top: 200px ; 
  font-size: 36px

}
legend {
  color: red;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
